/tfod
/runs/detect/exp
/runs/detect/exp2
/runs/detect/exp3
/runs/detect/exp4
/runs/train/exp
/runs/val/exp
/detected_images
detection_results.csv
/.ipynb_checkpoints
/ipynb_checkpoints
.ipynb_checkpoints
